---
layout: main
title: Main Page
description: Description here
---
<div class="container">
        <ul class="row list-unstyled">{% for service in site.data.services %}{% for site in service[1] %}
            <li class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-4">
              <a class="d-block text-dark text-decoration-none" href="{{site.url}}">
                <div class="p-3 rounded-cell border d-flex gap-2 cell">
                  <img class="rounded-img" src="https://github.com/Submodul/page/raw/master/assets/img/logo/{{site.img}}" width="48" height="48" alt="{{site.name}}">
                  <div class="ps-2">
                    <div class="h6 text-decoration-none pt-1 m-0">{{site.name}}</div>
                    <small class="text-muted">{{site.url}}</small>
                  </div>
                </div>
              </a>
            </li>{% endfor %}{% endfor %}
        </ul>
      </div>