<div class="text-center bg-light">
  <footer class="py-4 pt-md-5 mt-4">
    <ul class="nav justify-content-center pb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 bd-footer">GitHub</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 bd-footer">Twitter</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 bd-footer">Dribbble</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 bd-footer">About</a></li>
    </ul>
    <p class="text-muted">Currently <b class="text-dark">1089</b> SVG logos of services that support Two-Factor Authentication.</p>
  </footer>
</div>